.header-1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.preview-image {
    width: 100px;
    height: 100px;
}

.delete-conversation {
    background-color: #fff;
    padding: 12px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 16px;
}

.message-sender {
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    background-color: #007bff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
}

.message-receiver {
    padding: 10px;
    border-radius: 5px;
    background-color: #E0E0E0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

.sender-message-wrapper {
    position: relative;
    bottom: 0;
}

.conversation {
    height: 500px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.user-image {
    width: 100px;
    height: 100px;
    border-radius: 12px;
}

.message-sender .text-right {
    color: #fff;
}

.paginate-prev a{
    color: #fff !important;
}

.paginate-next a{
    color: #fff !important;
}

.show-more,.show-less {
    color: #fff;
    text-decoration: underline;
}

.search-results-wrapper {
    background-color: #feacc6;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}

.search-results-wrapper h3 {
    color: #fff;
}