.header-1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.preview-image {
    width: 100px;
    height: 100px;
}

.delete-conversation {
    background-color: #fff;
    padding: 12px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 16px;
}